<div class="wrapper wrapper-content">
  <div class="row">

    <!--  PROCEDIMIENTOS -->
    <%if @cliente.procedures.count > 0%>
        <%= render 'procedure' %>
    <%else%>
        <H3>No hay procedimientos para este cliente</H3>
    <%end%>



    <!--  DIRECTORIO -->
    <%if @cliente.contactos.count > 0%>
        <%= render 'directorio' %>
    <%else%>
        <H3>No hay contactos para este cliente</H3>
    <%end%>



  </div>
</div>

