<br><br><br><br>
<div class="middle-box text-center animated fadeInDown">
  <h2>Call - Registro de llamadas</h2>
  <h3 class="font-bold">Bienvenido al sistema de captura de llamadas</h3>

  <div class="error-desc">
    Para iniciar seleccione una cuenta
    <form class="form-inline m-t" role="form">
      <div class="form-group">
        <%= select("post", "cliente_id", Cliente.all.collect {|c| [ c.nombre, c.id ] },
                   {prompt: 'Seleccione cuenta' }, { class: 'chosen-select', style: "width:400px;"}) %>

      </div>
      <br><br>
      <button type="submit" class="btn btn-primary">Consultar</button>
    </form>
  </div>
</div>