<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitad cambiar tu contraseña, lo puedes hacer en el siguiente link.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado el cambio, ignora este correo.</p>
<p>Tu contraseña no se cambiará si no accedes al link antes mencionado y cambias tu contraseña</p>
