<div class="footer">
    <div class="pull-right">
        Koomoni Fabrica de SW
    </div>
    <div>
        <strong>Copyright</strong> Ofintel &copy; 2015- <%= Date.today.year %>
    </div>
</div>
