<div class="footer">
    <div class="pull-right">
        Koomoni Fabrica de SW &nbsp;&nbsp;&nbsp;&nbsp; Ver: <strong><%=Rails.configuration.version %></strong>
    </div>


    <div>
        <strong>Ofintel</strong> &copy; 2015- <%= Date.today.year %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= Time.zone%> - <%= I18n.locale.to_s %>
    </div>
</div>
