<div id="right-sidebar">
    <div class="sidebar-container">

        <ul class="nav nav-tabs navs-3">

            <li class="active" id="lifaq">
                <a data-toggle="tab" href="#tabfaq">
                    FAQ
                </a>
            </li>
            <li><a data-toggle="tab" href="#tab-2">
                  EscalamientoX
                </a>
            </li>

        </ul>

        <div class="tab-content">


            <div id="tabfaq" class="tab-pane active">

                <div class="sidebar-title">
                    <h3> <i class="fa fa-comments-o"></i> Frequently Asked Questions</h3>

                </div>

                <div>

                    <div class="sidebar-message">


                    </div>
                </div>

            </div>

          <div id="tab-2" class="tab-pane">

            <div class="sidebar-title">
              <h3> <i class="fa fa-cube"></i> Imagenes de escalamiento</h3>

            </div>



          </div>
        </div>

    </div>



</div>

